.bg-lightMode {
  background: url('https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1472&q=80')
    no-repeat;
  height: 100vh;
  width: 100vw;
}
.bg-darkMode {
  background: url('https://images.unsplash.com/photo-1545670723-196ed0954986?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1473&q=80')
    no-repeat;
  height: 100vh;
  width: 100vw;
}
.social-box {
  margin-top: 12rem;
  height: 32rem;
}
.social {
  height: 2rem;
  width: 5rem;
}
